.header{
    height: 200px;
    object-fit: cover;
}

.description{
    padding: 10px;
    margin-top: -100px;
}

.avatar{
    width: 150px;
    border-radius: 9999px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.aboutMe{
    color:powderblue;
    font-weight: bold;
}

.aboutMeEmpty{
    color: darkred;
    font-weight: bold;
}

.editImg{
    padding-left: 5px;
    width: 20px;
    display: inline-block;
}

.editProfilePhoto{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}

.imageUpload>input {
    display: none;
}

.errorText{
    color: darkred;
    font-weight: bold;
}